name: update-stats

on:
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'
      
      - name: Generate Stats
        env:
          GITHUB_TOKEN: ${{ secrets.STATS_GITHUB_TOKEN }}
        run: |
          go run ./cmd/main.go -x=Kotlin,PHP,HTML,CSS,PLpgSQL
      
      - name: Commit and push SVG
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add ./generated/language-stats.svg
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Update language stats SVG [automated]"
            git push
          fi
